{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrderParserPlugins": [
    "typescript",
    "[\"decorators-legacy\", {\"decoratorsBeforeExport\": true}]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^./domain/(.*)$",
    "^./application/(.*)$",
    "^./infrastructure/(.*)$",
    "^./presentation/(.*)$",
    "^[.].*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
